.AddNewProductFormBackground {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  background-color: rgba(78, 1, 1, 0.7);
}

.AddNewProductForm {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  position: absolute;
  /* width: 600px;
  height: 500px; */
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 8px;
  top: 15%;
  margin: auto;
  z-index: 10; /* z-index: the higher the relative number, the more forward/higher in the "stack level" the rendering of the element in the stack; default is  0*/
}
